# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
bin/Debug/Assembly-CSharp-firstpass.dll
*.dll
bin/Debug/MonthlyBudgets.dll.mdb
bin/Debug/UnityEngine.xml
*.xml
*.cache
obj/Debug/MonthlyBudgets.csproj.FileListAbsolute.txt
*.pdb
*.log
bin/Debug/PartDatabase.cfg
*.lastcodeanalysissucceeded
bin/Release/PartDatabase.cfg
*.zip
bin/Release/GameData/MonthlyBudgets/MonthlyBudgetData.cfg
obj/Release/MonthlyBudgets.csproj.FileListAbsolute.txt
obj/Release/MonthlyBudgets.csproj.FileListAbsolute.txt
obj/Release/MonthlyBudgets.csproj.FileListAbsolute.txt
*.mdb
*.ide
MonthlyBudgets/obj/Release/MonthlyBudgets.csproj.FileListAbsolute.txt
MonthlyBudgets/bin/Release/PartDatabase.cfg
MonthlyBudgets/bin/Release/GameData/KerbalChangeLog1-1-5/KerbalChangelog.version
MonthlyBudgets/bin/Release/GameData/KerbalChangeLog1-1-5/KerbalChangelogChangelogv1-1-5.cfg
